certifi
charset-normalizer
EasyProcess
entrypoint2
idna
jeepney
MouseInfo
mss
numpy
pandas
Pillow
PyAutoGUI
PyGetWindow
pyHM
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
python3-xlib
pytweening
pytz
requests
-e .
scipy
six
tzdata
urllib3
